body {
  font-family: Arial;
  background: #f4f6f9;
  text-align: center;
}

.container {
  margin-top: 100px;
  background: white;
  padding: 40px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
}
