body{
  font-family: Arial;
  background:#eef2f7;
  text-align:center;
}

.card{
  background:white;
  width:400px;
  margin:auto;
  margin-top:80px;
  padding:25px;
  box-shadow:0 0 12px rgba(0,0,0,0.2);
  border-radius:10px;
}

input{
  width:90%;
  padding:10px;
  margin:8px;
}

button{
  padding:10px 18px;
  margin:5px;
  background:#1976d2;
  color:white;
  border:none;
  cursor:pointer;
}

button:hover{
  background:#125ca1;
}

#timer{
  font-size:22px;
  color:red;
}
